[Desktop Entry]
Version=1.0
Type=Application
Name=AVD
Icon=/home/user_name/.icons/avd_1.png
Exec=/home/user_name/Android/Sdk/emulator/./emulator @avd_device_name(Spaces are allowed)
Categories=Development;IDE;
Terminal=false
StartupNotify=true
Comment=Android Virtual Device
