[Desktop Entry]
Version=1.0
Type=Application
Name=AVD
Icon=/home/hp/.icons/avd_1.png
Exec=/home/hp/Android/Sdk/emulator/./emulator @Pixel_2_API_27
Comment=Pie @ Pixel - KNDCSE Android Virtual Device
Categories=Development;IDE;
Terminal=false
StartupNotify=true
Comment[en_IN]=Android Virtual Device
